@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 90 53% 98%;
    --foreground: 90 72% 4%;
    --muted: 60 28% 91%;
    --muted-foreground: 60 3% 34%;
    --popover: 90 53% 97%;
    --popover-foreground: 90 72% 3%;
    --card: 90 53% 97%;
    --card-foreground: 90 72% 3%;
    --border: 90 6% 93%;
    --input: 90 6% 93%;
    --primary: 90 21% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 21% 32%;
    --secondary-foreground: 0 0% 100%;
    --accent: 120 21% 32%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 82% 24%;
    --destructive-foreground: 0 82% 84%;
    --ring: 90 21% 32%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 90 54% 4%;
    --foreground: 90 21% 99%;
    --muted: 60 28% 9%;
    --muted-foreground: 60 3% 66%;
    --popover: 90 54% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 90 54% 5%;
    --card-foreground: 0 0% 100%;
    --border: 90 6% 10%;
    --input: 90 6% 10%;
    --primary: 90 21% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 21% 32%;
    --secondary-foreground: 0 0% 100%;
    --accent: 120 21% 32%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 82% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 90 21% 32%;
  }
}
